p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.Rhint{
  border-width:2px;  
  border-left-style:solid;
  border-color: #4B0080;
  padding-left: 12px;
  font-style: italic;
}